---
layout: page
title: Arkiv
permalink: /arkiv/
---
<div class="home">
    <ul class="post-list">
{% for post in site.posts %}
    {% capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% if currentyear != year %}
        {% unless forloop.first %}
        </ul>
        {% endunless %}
        <h3 class="post-archive-year">{{ currentyear }}</h3>
        <ul class="post-archive">
        {% capture year %}{{ currentyear }}{% endcapture %}
    {% endif %}
    <li>
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-link">
                <div class="post-list-info">
                    <h2 class="post-list-title">{{ post.title }}</h2>
                    <span class="post-list-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
                </div>
            </a>

            {% if post.images %}
            <img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ post.images | last }}&container=focus&resize_w=680&refresh=31536000" class="post-list-thumb" />
            {% endif %}
        </li>
{% endfor %}
    </ul>
</div>