---
layout: page
title: Ingredienser
permalink: /ingredienser/
---

<script>
var posts = [
{% for post in site.posts %}
    {% if post.ingredienser %}
        {% for ingrediens in post.ingredienser %}
            {
             "ingrediens": "{{ ingrediens }}",
             "title": "{{ post.title }}",
             "link": "{{ site.baseurl }}{{ post.url }}"
            },
        {% endfor %}
    {% endif %}
{% endfor %}
];

var dict = {}
$.each(posts, function(key, value){
  //build dict
  var exists = dict[value.ingrediens];
  if(!exists){
    dict[value.ingrediens] = [];
  }
   exists.push(value);
}); 

var ingredienserSorted = [];

for (var key in dict) {
    if (dict.hasOwnProperty(key)) {
        ingredienserSorted.push(key);
    }
}

ingredienserSorted.sort();

for (var i = 0; i < ingredienserSorted.length; i++) {
    document.write('<p>'+ ingredienserSorted[i] +'</p>')
};
</script>