---
layout: page
title: Ingredienser
permalink: /ingredienser/
---
<div class="home">
<div id="ingrediensCloudContainer"></div>
<script>
var posts = [
{% for post in site.posts %}
    {% if post.ingredienser %}
        {% for ingrediens in post.ingredienser %}
            {
             "ingrediens": "{{ ingrediens }}",
             "title": "{{ post.title }}",
             "link": "{{ site.baseurl }}{{ post.url }}",
             "date" : "{{ post.date | date: "%B %-d, %Y" }}",
             "image" : "https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ post.images | last }}&container=focus&resize_w=680&refresh=31536000"
            },
        {% endfor %}
    {% endif %}
{% endfor %}
];

var dict = {}
$.each(posts, function(index, value){
  //build dict
  var key = value.ingrediens;
  if(key in dict == false){
    dict[value.ingrediens] = [];
  }
  dict[value.ingrediens].push(value);
}); 

var ingredienserSorted = [];

for (var key in dict) {
    if (dict.hasOwnProperty(key)) {
        ingredienserSorted.push(key);
    }
}

ingredienserSorted.sort();

for (var i = 0; i < ingredienserSorted.length; i++) {
    document.write('<a id="'+ ingredienserSorted[i] +'"></a>');
    document.write('<h3>'+ ingredienserSorted[i] +'</h3>');
    document.write('<ul class="post-list">');
    var key = ingredienserSorted[i];
    if(key in dict == true){
        dict[key].sort();
        for (var x = 0; x < dict[key].length; x++) {
            document.write('<li>');
            document.write('<a href="'+dict[key][x].link+'" class="post-list-link">');
            document.write('<div class="post-list-info">');
            document.write('<h2 class="post-list-title">'+dict[key][x].title+'</h2>');
            document.write('<span class="post-list-meta">'+dict[key][x].date+'</span>');
            document.write('</div>');
            document.write('</a>');
            if(dict[key][x].image){
                document.write('<img src="'+dict[key][x].image+'" class="post-list-thumb" />');
            }
            document.write('</li>');
        };
        
    }
    document.write('</ul>');
};
</script>
</div>


<script>(function() {
var fill = d3.scale.category20();
var layout = d3.layout.cloud()
    .size([560, 560])
    .words(ingredienserSorted.map(function(d) {
      return {text: d + '('+ dict[key].length + ')', size: 10 + dict[key].length * 90, test: "haha"};
    }))
    .padding(5)
    .rotate(function() { return ~~(Math.random() * 2) * 90; })
    .font("Impact")
    .fontSize(function(d) { return d.size; })
    .on("end", draw);
layout.start();
function draw(words) {
  d3.select("#ingrediensCloudContainer").append("svg")
      .attr("width", layout.size()[0])
      .attr("height", layout.size()[1])
    .append("g")
      .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
    .selectAll("text")
      .data(words)
    .enter().append("text")
      .style("font-size", function(d) { return d.size + "px"; })
      .style("font-family", "Impact")
      .style("fill", function(d, i) { return fill(i); })
      .attr("text-anchor", "middle")
      .attr("transform", function(d) {
        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
      })
      .text(function(d) { return d.text; })
            .on("click", function (d, i){
          window.location.hash = d.text;
      })
      ;
}
})();</script>