---
layout: default
title: Ingredienser
permalink: /ingredienser/
---

<script>
var posts = [
{% for post in site.posts %}
    {% if post.ingredienser %}
        {% for ingrediens in post.ingredienser %}
            {
             "ingrediens": "{{ ingrediens }}",
             "title": "{{ post.title }}",
             "link": "{{ site.baseurl }}{{ post.url }}"
            },
        {% endfor %}
    {% endif %}
{% endfor %}
];

var dict = {}
$.each(posts, function(index, value){
  //build dict
  var key = value.ingrediens;
  if(key in dict == false){
    dict[value.ingrediens] = [];
  }
  dict[value.ingrediens].push(value);
}); 

var ingredienserSorted = [];

for (var key in dict) {
    if (dict.hasOwnProperty(key)) {
        ingredienserSorted.push(key);
    }
}

ingredienserSorted.sort();

for (var i = 0; i < ingredienserSorted.length; i++) {
    document.write('<h3>'+ ingredienserSorted[i] +'</h3>');
    var key = ingredienserSorted[i];
    if(key in dict == true){
        document.write('<p>'+ dict[key].title + ' ' + dict[key].link +'</p>');
    }
};
</script>