---
layout: default
---
<div class="post">
    {% if page.reading_time %}
    <p class="post-reading-time">&#126;
        {% capture words %}
          {{ content | number_of_words | minus: 180 }}
        {% endcapture %}
        {% unless words contains "-" %}
          {{ words | plus: 180 | divided_by: 180 | append: " min" }}
        {% endunless %}
    </p>
    {% endif %}

    <header class="post-header">
        {% if page.images %}
        <img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ page.images | last }}&container=focus&resize_w=200&refresh=31536000" alt="{{ page.title }}" class="post-thumb" />
        {% endif %}

        <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <article class="post-content">
        {{ content }}

        {% if page.images %}
        <div style="background-color: #191919;"><a style="color:#4f4f4f;text-transform: uppercase;font-family: "Lato", sans-serif;font-size: 13px;font-weight: 700;letter-spacing: 2px; text-align:center; display:block;" href="javascript:alert('Store billeder');">Store billeder</a></div>
        <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
            {% for image in page.images %}
               <img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{ image }}&container=focus&resize_h=200&refresh=31536000">
            {% endfor %}
        </div>  
        {% endif %}
    </article>

    <footer class="post-meta">
        {% if page.date %}
        <div class="meta">
            <h3 class="meta-title">Dato</h3>
            <span class="meta-content">{{ page.date | date: "%B %-d, %Y" }}</span>
        </div>
        {% endif %}
        {% if page.ingredienser %}
        <div class="meta">
            <h3 class="meta-title">Ingredienser</h3>
            <span class="meta-content">
                {% for ingrediens in page.ingredienser %}
                    {{ ingrediens | capitalize }}&nbsp;
                {% endfor %}
        </div>
        {% endif %}
        {% if page.categories %}
        <div class="meta">
            <h3 class="meta-title">Stikord</h3>
            <span class="meta-content">
                {% for category in page.categories %}
                    {{ category | capitalize }}&nbsp;
                {% endfor %}
            </span>
        </div>
        {% endif %}
        {% if page.show_tags %}
        <div class="meta">
            <h3 class="meta-title">Tags</h3>
            <span class="meta-content">
                {% for tag in page.tags %}
                    {{ tag | capitalize }}&nbsp;
                {% endfor %}
            </span>
        </div>
        {% endif %}
    </footer>

</div>